/*________________________________________________________________________________________________________________________________________________________*/

                                                                     /*TOUTES LES PAGES*/
/*________________________________________________________________________________________________________________________________________________________*/

body
{
	background-image: url("img/fond.jpg");	
}

/*_______________________________________________________________________________*/

                                                 /*LE TEXTE*/
/*_______________________________________________________________________________*/

/*Police d'écriture*/
p, h1, h2, nav li 
{
 font-family: 'Lato', sans-serif;
}

/*les paragraphes*/
p
{
  font-size: 15px;
}

/*___________________________________________________________________________________*/

                                            /*ENTETE PRINCIPAL*/
/*___________________________________________________________________________________*/

/*ENTETE PRINCIPAL - (fond)*/
.teutax
{
	background-image: url("img/entete.png");
}

/*______________________________________________________________________________*/

                                                 /*MENU*/
/*______________________________________________________________________________*/

/*LOGO*/
#logo img
{
	width: 200px;
	height: 100px;

	position: relative;
	 top: 65px;
	 right: 20px;
}


/*MENU - (parent)*/
.menu nav ul
{
	list-style-type: none;
  background-color: black;

  display: flex;
	 flex-direction: row;
	 justify-content: flex-end;

  padding: 10px;
}

/*MENU - (liste du menu)*/
.menu nav li 
{
    margin-right: 15px;
    font-size: 20px;

    padding: 7px;
}

/*MENU - (survol du menu)*/
.menu nav li:hover 
{
	background-color: orangered;
}

/*MENU - (lien du menu)*/
.menu a 
{
	color: white;
	text-decoration: none;
}

/*MENU - (lien déjà visiter)*/
.menu a:visited
{
	color: white;
}

/*MENU - (ctc contact)*/
.cont 
{
	background-color: orangered;
	padding: 5px;
	border-radius: 20px;
}

.cont ul li {
	color: purple;
}


/*________________________________________________________________________________________________________________________________________________________*/

                                                                     /*PAGE ACCUEIL*/
/*________________________________________________________________________________________________________________________________________________________*/

/*ZONE HERO - (fond principal)*/
.zoneh
{
	width: 100%;
	max-height: 600px;
	background-color: white;
	margin-top: 20px;

	display: flex;
}

/*________________________________________*/

/*ZONE HERO - (titre)*/
.zoneh h2
{	
  color: purple;
  padding-left: 30px;
}

/*ZONE HERO - (texte)*/
.zoneh p
{
	font-size: 18px;
  text-align: left;
  width: 500px;

  padding-top: 40px;
  padding-left: 30px;
}

/*ZONE HERO - (video)*/
.zoneh video
{
	max-width: 600px;
	max-height: 500px;

	padding: 50px 0px 20px 120px;
}

/*________________________________________________________________________________________________________________________________________________________*/

                                                                     /*PAGE CERTIFICATIONS*/
/*________________________________________________________________________________________________________________________________________________________*/


/*FOND PAGE CERTIFICATIONS*/
.certifcont
{
	text-align: center;
	background-color: white;
	
	margin-top: 50px;
	padding: 5px 5px 5px 10px;
}

/*PAGE CERTIFICATIONS - (titre)*/
.certifcont h2
{
	text-align: left;

	padding-top: 20px;
	padding-left: 320px;
}

/*PAGE CERTIFICATIONS - (image)*/
.certifcont img
{
 width: 700px;
 height: 500px;

 display: block;
    margin-left: auto;
    margin-right: auto;
}

/*________________________________________________________________________________________________________________________________________________________*/

                                                                     /*PAGE CV*/
/*________________________________________________________________________________________________________________________________________________________*/

/*PAGE CV - (fond principal)*/
.cvpage 
{
  background-color: white;
  width: 1330px;
  max-width: 1330px;
  height: 1860px;
}

/*_____________________________*/


/*HAUT DU CV - (fond principal)*/
.cvhead 
{
  background-color: #004aad;
  border-bottom: white 1px solid;

  display: flex;
   flex-direction: row-reverse;

  padding: 5px 126px 2px 48px;
}

/*HAUT DU CV - (photo)*/
.cvhead img 
{
  width: 250px;
  height: 125px;

  padding-top: 15px;
  padding-right: 73px;
}

/*HAUT DU CV - (texte)*/
.txthead
{
 color: white;	
}


/*_____________________________*/

/*HARSKILLS - (fond)*/
.hardsk
{
	background-color: #004aad;
	border-bottom: white 1px solid;

  display: flex;
   flex-direction: column;
   padding-bottom: 20px;

   margin-left: 343px;
}

/*HARSKILLS - (titre)*/
.hardsk h2
{
 color: white;
 text-decoration: underline;

 padding-left: 30px;
}

/*HARSKILLS - (sous-titre)*/
.hardsk p 
{
	color: #8bc34a;

	padding-left: 32px;
}

/*HARDSKILLS - compétences (texte MENU liste)*/
.hardsk ul
{
	color: white;
  font-size: 18px;

  padding-left: 50px;
}

/*HARDSKILLS - (groupe icones)*/
.icohardsk 
{
  padding-left: 20px;
}

/*HARDSKILLS - (icones)*/
.icohardsk img 
{
  width: 30px;
}


/*HARDSKILLS - (Tout les icone et bar de progression)*/
.boxhard
{
    display: flex;
      align-items: center;
}

/*HARDSKILLS - (Toutes les bar de progression)*/
.boxhard label
{
  padding-left: 11px;
}

/*_____________________________*/

/*EXPERIENCES PROFESSIONNELLES - (fond)*/
.exp
{
	background-color: #004aad;
	border-bottom: white 1px solid;

  display: flex;
   flex-direction: column;
   padding-bottom: 20px;

   margin-left: 343px;
}

/*EXPERIENCES PROFESSIONNELLES - (titre)*/
.exp h2
{
 color: white;
 text-decoration: underline;

 padding-left: 30px;
}

/*EXPERIENCES PROFESSIONNELLES - (sous-titre)*/
.exp p 
{
	color: #8bc34a;

	padding-left: 32px;
}

/*EXPERIENCES PROFESSIONNELLES - (texte MENU liste)*/
.exp ul 
{
	color: white;
	font-size: 18px;

	padding-left: 49px;
}

/*_____________________________*/

/*FORMATIONS PROFESSIONNELLES - (fond)*/
.forma
{
	background-color: #004aad;
	border-bottom: white 1px solid;

  display: flex;
   flex-direction: column;

   margin-left: 343px;
   padding-bottom: 20px;
}

/*FORMATIONS PROFESSIONNELLES - (titre)*/
.forma h2
{
 color: white;
 text-decoration: underline;

 padding-left: 30px;
}

/*FORMATIONS PROFESSIONNELLES - (sous-titre)*/
.forma p 
{
	color: #8bc34a;

	padding-left: 32px;
}

/*FORMATIONS PROFESSIONNELLES - (texte MENU liste)*/
.forma ul 
{
	color: white;
	font-size: 18px;

	padding-right: 40px;
}

/*FORMATIONS PROFESSIONNELLES - (texte menu LISTE)*/
.forma ul li
{
	color: white;
	font-size: 18px;

	padding-top: 10px;
}
/*_____________________________*/

/*COORDONNES DU CV - (fond)*/
.coord 
{
  background-color: #004aad;
  border-right: white 1px solid;

  display: flex;
   flex-direction: column;

   width: 342px;
   height: 1644px;

   margin-top: -1663px;
}


/*COORDONNES DU CV - (Tout les titres principux et leur icone)*/
.titcv
{
	 color: white;

	 display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;

    padding-left: 20px;
}

/*COORDONNES DU CV - (Toutes les titres principaux)*/
.titcv h2
{
	color: white;
	text-decoration: underline;

  padding-left: 10px;
}

/*COORDONNES DU CV - (Toutes les icones des titres principaux)*/
.titcv img
{
  width: 30px;
}

/*COORDONNES DU CV - (Tout les menu et liste)*/
.coord ul li 
{
	color: white;
	font-size: 16px;

  padding-top: 5px;
  padding-bottom: 5px;
}

/*_____________________________*/

/*COORDONNES DU CV - Contact (fond)*/
.boxcord
{
   display: flex;
    align-items: center;
    padding-left: 15px;
}

/*COORDONNES DU CV - Contact (les icones)*/
.boxcord img 
{
	width: 30px;
}

/*COORDONNES DU CV - Contact (texte)*/
.boxcord p
{
	color: white;

	padding-left: 5px;
}

/*OORDONNES DU CV - Contact (Les bar de progression)*/
.boxcord label
{
  padding-left: 11px;
}

/*_____________________________*/

/*COORDONNES DU CV - Softskill (fond)*/
.soft
{
	padding-top: 50px;
}

/*_____________________________*/

/*COORDONNES DU CV - Langues (fond)*/
.lang
{
	padding-top: 25px;
}

/*COORDONNES DU CV - Langues (Toute les icones et bar de progression)*/
.boxlang 
{
	 display: flex;
    align-items: center;
    padding-left: 24px;
}

/*COORDONNES DU CV - Langues (Tout les icones)*/
.boxlang img 
{
	width: 30px;
}

/*COORDONNES DU CV - Langues (Toutes les bar de progression)*/
.boxlang label
{
  padding-left: 11px;
}

/*_____________________________*/

/*COORDONNES DU CV - Loisir (fond)*/
.lois
{
	padding-top: 50px;
}

/*_____________________________*/

/*TELECHARGEMENT DU CV - (fond)*/
.dl
{
	background-color: orangered;
  height: 70px;

	display: flex;
	 justify-content: center;

}

/*TELECHARGEMENT DU CV - (texte, lien de téléchargement)*/
.dltxt
{
  color: white;

	font-size: 25px;
	padding-top: 20px;
}

/*________________________________________________________________________________________________________________________________________________________*/

                                                                     /*PAGE PORTFOLIO*/
/*________________________________________________________________________________________________________________________________________________________*/

/*FORMULAIRE*/
.portf
{
	text-align: center;
	background-color: whitesmoke;

	 padding-top: 5px;
	 padding-bottom: 5px;

	 margin-top: 50px;
}


/*________________________________________________________________________________________________________________________________________________________*/

                                                                     /*PAGE CONTACT*/
/*________________________________________________________________________________________________________________________________________________________*/

/*FORMULAIRE*/
.formu
{
	text-align: center;
	background-color: white;

	 padding-top: 5px;
	 padding-bottom: 5px;

	 margin-top: 50px;
}


/*________________________________________________________________________________________________________________________________________________________*/

                                                                     /*FOOTER*/
/*________________________________________________________________________________________________________________________________________________________*/

/*FOOTER DE LA PAGE*/
.foot
{
	max-width: 1300px;
	width: 1300px;
	height: 100px;

	margin-top: 50px; /*Espacement du bloc footer avec les autres*/
	padding-left: 30px;
	padding-top: 10px;
  
  background-color: white;
	border: black 1px solid;

	display: flex;
	 flex-direction: column;
}

/*________________________________________________________________________________________________________________________________________________________*/

                                                                     /*PAGE CREDITS*/
/*________________________________________________________________________________________________________________________________________________________*/

/*FOND PAGE MENTION*/
.ment
{
	background-color: white;
	
	margin-top: 50px;
	padding: 5px 5px 5px 10px;
}


/*________________________________________________________________________________________________________________________________________________________*/

                                                                     /*MEDIA QUERIES PC*/
/*________________________________________________________________________________________________________________________________________________________*/


/* Si la fênetre fait px ou moins : */
@media screen and (max-width: 1024px)
{

  /*LOGO*/
  #logo img
  {
	 width: 200px;
	 height: 100px;

	 position: relative;
	  top: 65px;
	  left: 100px;
  }

  /*MENU - (parent)*/
  .menu nav ul
 {
	list-style-type: none;

  display: flex;
	 flex-direction: column;
	 justify-content: flex-end;

   padding: 10px;
 }

  .foot
	{
    width: 25%;
	}

	/*___________________________________________*/
 
  
  /*HOME PAGE - (fond)*/	
  .zoneh 
  {
   display: flex;
    flex-direction: column;
  }


  /*HOME PAGE - (video)*/	
  .zoneh video
  {
   max-width: 400px;

   padding: 27px 0px 20px 28px;
  }



}
